@model DefaultViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ASP.NET Core 2.1 C# SameSite MVC sample</title>
</head>
<body>
    <p><b>Current Cookies</b></p>
    <table>
        <thead>
            <tr>
                <td>Cookie</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var cookieDetail in Model.CookieDetails)
            {
                <tr>
                    <td>@cookieDetail.Name</td>
                    <td>@cookieDetail.Value</td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("CreateCookies", "Home", FormMethod.Post))
    {
        <input type="submit" value="Create Cookies" />
    }
</body>
</html>